@media screen and (max-width:320px) {
    .dificuldade h1{
        font-size: 2rem;
        position:relative;
        top: 0;
        margin-bottom: 40px;
    }
    .círculo{
        font-size: 1rem;
        width: 150px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        
    
    }
    .btns{
        display: flex;
        flex-direction: column;
        
    }
    
}



@media screen and (min-width:321px) and (max-width:468px) {
    .dificuldade h1{
        font-size: 2.8rem;
        position:relative;
        top: 0;
        margin-bottom: 40px;
    }
    .círculo{
        font-size: 1.2rem;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        
        
    }
    .btns{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

}


@media screen and (min-width:469px) and (max-width:768px) {
    .dificuldade h1{
        font-size: 3rem;
    }
    .círculo{
        font-size: 1.2rem;
        width: 140px;
    }
}

@media screen and (min-width:1920px) {
    .dificuldade h1{
        font-size: 5rem;
    }
    .círculo{
        font-size: 2rem;
        width: 250px;
        height: 100px;
    }
}